@model IEnumerable<SistemaCitasMedicas.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="pacientestable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                @Html.DisplayFor(modelItem => item.Usuario.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPaciente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPaciente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPaciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#pacientestable').DataTable();
        });
    </script>
}
