@model IEnumerable<SistemaCitasMedicas.Models.SolicitudCita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeseada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDeseada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSolicitud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeseada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDeseada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.IdPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSolicitud.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSolicitud">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSolicitud">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSolicitud">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
